.thumbnail__columnas {
    max-width: 100%;

        img {
    margin: 8px 8px;
    vertical-align: middle;
    width: 250px;
    height: 300px
  }
}

.prueba {
  width: 100px;
  height:  100px;
  background-color: lightblue;
}
