$lila-100:#e4d7fa;
$lila-200:#8743f3;
$lila-300:#6610f2;
$lila-400:#e0ccff;
$lila-500:#3f0c90;


@media (min-width: 992px) {
    .foto__vertical{
        margin-right: 10px;
        border-radius: 15px;
        width: 500px;
    }

    .foto__horizontal {
        display: none;
    }

    .texto__quiensoy {
        background-color: $lila-200;
        display: flex;
        flex-direction: column;
        width: 500px;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        
        a{
            display: flex;
            justify-content: center;
            text-decoration: none;
        }

        p {
            text-align: left;
        }
        
        h2 {
            text-align: center;
            margin-top: 10px;
        }
    }

    .cajas__quiensoy {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
    }
}

.boton__quiensoy {
    position: relative;
    background-color: #b2fbf7;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: #000000;
    padding: 10px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer; 
            a {
                outline: none;
                text-decoration: none;
                color: white
            }
    }

.boton__quiensoy:hover {
    background-color: #7cedfb
}

@media (max-width: 991px) {
 
    .foto__vertical{
        display: none;
    }

    .foto__horizontal {
        display: block;
        border-radius: 15px;
        margin: auto;
        width: 95%;
    }

    .texto__quiensoy {
        background-color: $lila-200;
        display: flex;
        flex-direction: column;
        width: 95%;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        
        a{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }

        p {
            text-align: left;
        }
        
        h2 {
            text-align: center;
            margin-top: 10px;
        }
    }

    .cajas__quiensoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}
