@import "_variables";
@import "_index";
@import "_footer";
@import "_cuadros";
@import "_quiensoy";
@import "_contacto";
@import "_productos";
@import "_404";

body {
 background-color: $lila-100 !important;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar-brand img {
    width: 40px;
}

.navColor{
    background-color: rgb(246, 178, 147);
}
 
