@import "_index";
@import "_footer";
@import "_cuadros";
@import "_quiensoy";
@import "_contacto";
@import "_productos";

$lila-100:#e4d7fa;
$lila-200:#c39eff;
$lila-300:#6610f2;
$lila-400:#e0ccff;
$lila-500:#3f0c90;

body {
    background-image: linear-gradient($lila-400, $lila-100);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar-brand img {
    width: 40px;
}

.navColor{
    background-color: rgb(246, 178, 147);
}
 
